<div>
  <p> Author:
    <strong>{{quotes.author}}</strong> <br>
    Publisher:<strong>{{quotes.publisher}}</strong> <br> UpVotes: {{quotes.upVotes}}<br> DownVotes:
    {{quotes.downVote}}<br> Days passed since Quote was published <strong>{{quotes.actualDate|dataRange}} days</strong>
    ago.</p>
  <div class="row">
    <div class="col-md-4">
      <button style="width: 35%;" class="btn btn-info" (click)='upVote(true)'><img src="https://cdn1.iconfinder.com/data/icons/hand-gestures-28/128/hand-thumbs-up-512.png" style="width:50%;"></button>
    </div>
    <div class="col-md-4">
        <button style="width: 35%;" class="btn btn-warning" (click)='downVote(true)'><img src="http://pngimg.com/uploads/dislike/dislike_PNG63.png" style="width:50%"></button>
    </div>
    <div class="col-md-4">
        <button style="width: 35%;" class="btn btn-danger" (click)='deleteQuote(true)'><img src="https://png.pngtree.com/svg/20161124/delete_26855.png" style="width:50%"></button>
    </div>
  </div>