<!-- <div>
<p> Author:
    <strong>{{quotes.author}}</strong> <br>
  Publisher:<strong>{{quotes.publisher}}</strong> <br> UpVotes: {{quotes.upVotes}}<br> DownVotes: {{quotes.downVote}}<br> Days passed since Quote was published <strong>{{quotes.actualDate|dataRange}} days</strong> ago.</p>
  <div class="row">
    <div class="col-md-4">
  <button class="btn btn-info" (click)='upVote(true)'>Up Vote</button>
  </div>
  <div class="col-md-4">
  <button class="btn btn-warning" (click)='downVote(true)'>Down Vote</button>
  </div>
  <div class="col-md-4">
  <button class="btn btn-danger" (click)='deleteQuote(true)'>Delete Quote</button>
  </div>
  </div>
  
   -->